name: CreatePR

on:
  workflow_call:

jobs:
  create_pr:
    runs-on: ubuntu-latest
    
    continue-on-error: true

    outputs:
      email: ${{ steps.get-email.outputs.email }}
      prid: ${{ steps.open-pull-request.outputs.prid }}
      failure: ${{ steps.failure_handling.outputs.failure }}

    steps:
      - name: Logging
        run: |
            echo "github.ref: ${{ github.ref }}"

      - name: Get email
        id: get-email
        if: ${{ ! startsWith(github.ref, 'refs/heads/rebased') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}        
        run: |
            EMAIL=$(curl --request GET --url "https://api.github.com/users/${{ github.event.sender.login }}" --header "Accept: application/vnd.github+json" --header "X-GitHub-Api-Version: 2022-11-28" --header "Authorization: Bearer $GITHUB_TOKEN" --silent | jq '.email')
            echo "email=$EMAIL" >> $GITHUB_OUTPUT

      - name: Open pull request
        id: open-pull-request
        if: ${{ ! startsWith(github.ref, 'refs/heads/rebased') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}        
        run: |
          PRID=$(curl --request POST --url "https://api.github.com/repos/${{ github.repository }}/pulls" \
            --header "Accept: application/vnd.github+json" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --header "Authorization: Bearer $GITHUB_TOKEN" \
            --data "{\"title\": \"Pull Request to create/update rebased branch for '${{ github.ref }}'\", \"body\": \"Programmatically created Pull Request to automatically keep merge branch to develop up-to-date\", \"head\": \"${{ github.ref }}\", \"base\": \"develop\"}" \
            --silent | jq '.number')
          curl --request POST --url "https://api.github.com/repos/${{ github.repository }}/issues/${PRID}/assignees" \
            --header "Accept: application/vnd.github+json" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --header "Authorization: Bearer $GITHUB_TOKEN" \
            --data "{\"assignees\":[\"${{ github.event.sender.login }}\"]}" \
            --silent
          echo "prid=$PRID" >> $GITHUB_OUTPUT

      - name: Failure handling
        if: failure()
        id: failure_handling
        run: |
            FAILURE=${{ true }}
            echo "failure=$FAILURE" >> $GITHUB_OUTPUT


  notification_success:

    needs: [create_pr]    
    if: (! startsWith(github.ref, 'refs/heads/rebased')) &&  (! needs.create_pr.outputs.failure)
    
    uses: ./.github/workflows/sendslackmsgtopusher.yml
    secrets: inherit
    with:
      emailslackuser: ${{ needs.create_pr.outputs.email }}
      shortmsg: "Pull request created for '${{ github.ref }}'!"
      blocks: "[{\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"Pull request created for '${{ github.ref }}': https://github.com/${{ github.repository }}/pull/${{ needs.create_pr.outputs.prid }}\"}}]"
     

  notification_failure:

    needs: [create_pr]    
    if: (! startsWith(github.ref, 'refs/heads/rebased')) &&  (needs.create_pr.outputs.failure)
    
    uses: ./.github/workflows/sendslackmsgtopusher.yml
    secrets: inherit
    with:
      emailslackuser: ${{ needs.create_pr.outputs.email }}
      shortmsg: "No pull request created for '${{ github.ref }}'!"
      blocks: "[{\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \":alert-beam: No pull request created in '${{ github.server_url }}/${{ github.repository }}':\"}}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"Check if '${{ github.ref }}' has changes compared to 'develop' & push again\"}}]"
