name: CreatePR

on:
  workflow_call:

jobs:
  create_pr:
    runs-on: ubuntu-latest
    
    continue-on-error: true

    outputs:
      email: ${{ steps.get-email.outputs.email }}
      prurl: ${{ steps.open-pull-request.outputs.prurl }}
      failure: ${{ steps.failure_handling.outputs.failure }}

    steps:
      - name: Logging
        run: |
            echo "github.ref: ${{ github.ref }}"

      - name: Get email
        id: get-email
        if: ${{ ! startsWith(github.ref, 'refs/heads/rebased') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}        
        run: |
            EMAIL=$(curl --request GET --url "https://api.github.com/users/${{ github.event.sender.login }}" --header "Accept: application/vnd.github+json" --header "X-GitHub-Api-Version: 2022-11-28" --header "Authorization: Bearer $GITHUB_TOKEN" --silent | jq '.email')
            echo "email=$EMAIL" >> $GITHUB_OUTPUT

      - name: Checkout
        if: ${{ ! startsWith(github.ref, 'refs/heads/rebased') }}      
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Open pull request
        id: open-pull-request
        if: ${{ ! startsWith(github.ref, 'refs/heads/rebased') }}
        run: |
          PRURL=$(gh pr create \
            --title "Pull Request to create/update rebased branch for '${{ github.ref }}'" \
            --body "Programmatically created Pull Request to automatically keep merge branch to develop up-to-date" \
            --base develop \
            --head ${{ github.ref }} \
            --assignee ${{ github.event.sender.login }})
          echo "prurl=$PRURL" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Failure handling
        if: failure()
        id: failure_handling
        run: |
            FAILURE=${{ true }}
            echo "failure=$FAILURE" >> $GITHUB_OUTPUT


  notification_success:

    needs: [create_pr]    
    if: (! startsWith(github.ref, 'refs/heads/rebased')) &&  (! needs.create_pr.outputs.failure)
    
    uses: ./.github/workflows/sendslackmsgtopusher.yml
    secrets: inherit
    with:
      emailslackuser: ${{ needs.create_pr.outputs.email }}
      shortmsg: "Pull request created for '${{ github.ref }}'!"
      blocks: "[{\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"Pull request created for '${{ github.ref }}': ${{ needs.create_pr.outputs.prurl }}\"}}]"


  notification_failure:

    needs: [create_pr]    
    if: (! startsWith(github.ref, 'refs/heads/rebased')) &&  (needs.create_pr.outputs.failure)
    
    uses: ./.github/workflows/sendslackmsgtopusher.yml
    secrets: inherit
    with:
      emailslackuser: ${{ needs.create_pr.outputs.email }}
      shortmsg: "No pull request created for '${{ github.ref }}'!"
      blocks: "[{\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \":alert-beam: No pull request created in '${{ github.server_url }}/${{ github.repository }}':\"}}, {\"type\": \"section\", \"text\": {\"type\": \"mrkdwn\", \"text\": \"Check if '${{ github.ref }}' has changes compared to 'develop' & push again\"}}]"
