name: LicenseCheck

on:
  workflow_call:

jobs:
  check_commits:
    if: ${{ github.event.commits != '' }}

    runs-on: ubuntu-latest

    continue-on-error: true

    strategy:
      matrix:
        value: ${{ github.event.commits }}

    outputs:
      license_lines: ${{ steps.process-files.outputs.license_lines }}

    steps:
      - name: Store commit
        id: store_commit
        run: |
          COMMIT=${{ matrix.value.id }}
          echo "commit=$COMMIT" >> $GITHUB_OUTPUT

      - name: Checkout commit and parent commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          ref: "${{ steps.store_commit.outputs.commit }}"

      - name: Get changed files
        id: changed-files
        run: |
            echo "Getting changed files"
            CHANGED_FILES=$(git diff --name-only HEAD^ HEAD | xargs)
            for file in $CHANGED_FILES; do
                echo "'$file' was changed"
            done
            echo "changed_files=$CHANGED_FILES" >> $GITHUB_OUTPUT

      - name: Process changed files
        id: process-files
        run: |
            LICENSE_LINES=''
            for file in ${{ steps.changed-files.outputs.changed_files }}; do
              echo "Processing '$file'..."
              LICENSE_MATCH=$(cat $file | grep -Pzo '(<|")licensee("| )(\n|.)*(}|</licensee>)' | xargs)
              if [ -z "$LICENSE_MATCH" ]; then
                echo "...no licenses found"
              else
                echo "license found!"
                LICENSE_LINE="<$file>
                $LICENSE_MATCH
                "
                LICENSE_LINES="$LICENSE_LINES
                $LICENSE_LINE"
              fi
            done
            {
                echo 'license_lines<<EOF'
                echo "${LICENSE_LINES}"
                echo EOF
            } >> $GITHUB_OUTPUT

      - name: Create json with result
        run: |
          jq -cn  --arg commit ${{ steps.store_commit.outputs.commit }} --arg licenselines "${{ steps.process-files.outputs.license_lines }}" '$ARGS.named' > result

      - name: Random Number Generator
        id: random-number-generator
        run: echo "random-number=$(echo $RANDOM)" >> $GITHUB_OUTPUT
        shell: bash
      
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: "result-${{ steps.random-number-generator.outputs.random-number }}"
          path: result


  process_results:
    needs: check_commits
    
    runs-on: ubuntu-latest
    
    continue-on-error: true

    outputs:
      results: ${{ steps.read_results.outputs.results }}

    steps:
      - name: Download results
        uses: actions/download-artifact@v4

      - name: Read results file
        id: read_results
        run: |
          results="$(cat */result | jq -c --slurp .)"
          echo results=$results >> $GITHUB_OUTPUT

      - name: Filter results
        id: filter_results
        run: |
          filtered_results="$(jq -n --argjson data '${{ steps.read_results.outputs.results }}' '$data[] | select(.licenselines != "")')"
          echo filtered_results=$filtered_results >> $GITHUB_OUTPUT

      - name: Get number commits
        id: get_nr_commits
        if: ${{ steps.filter_results.outputs.filtered_results != '' }}
        env:
            commits: ${{ toJson(github.event.commits) }}
        run: |
            NUMBER_COMMITS=$(echo $commits | jq '. | length' )
            echo "number_commits=$NUMBER_COMMITS" >> $GITHUB_OUTPUT

      - name: Get push type
        id: push-type
        if: ${{ steps.filter_results.outputs.filtered_results != '' }}        
        env: 
            COMMITCOUNT: ${{ steps.get_nr_commits.outputs.number_commits }}
        run: |
            echo "Getting push type"
            PUSH_TYPE='commit'
            FETCH_DEPTH=$(($COMMITCOUNT + 1))
            if ${{ github.event.before == '0000000000000000000000000000000000000000' }}; then
                PUSH_TYPE='branch'
                FETCH_DEPTH=0
            fi
            echo "Push type: $PUSH_TYPE"
            echo "Fetch depth: $FETCH_DEPTH"
            echo "push_type=$PUSH_TYPE" >> $GITHUB_OUTPUT
            echo "fetch_depth=$FETCH_DEPTH" >> $GITHUB_OUTPUT

      - name: Checkout
        if: ${{ steps.filter_results.outputs.filtered_results != '' }}
        uses: actions/checkout@v4
        with:
         fetch-depth: ${{ steps.push-type.outputs.fetch_depth }}

      - name: Remove commits if licenses found
        if: ${{ steps.filter_results.outputs.filtered_results != '' }}
        id: remove-license
        run: |
            info="$(jq -n --argjson data '[${{ steps.filter_results.outputs.filtered_results }}]' '"`" + $data[].commit + "`: " + $data[].licenselines')"
            echo info=$info >> $GITHUB_OUTPUT
            if ${{ steps.push-type.outputs.push_type == 'commit'}}; then
                git reset --hard HEAD~${{ steps.get_nr_commits.outputs.number_commits }}
                git push origin ${{ github.ref }} --force
                revertcommit="$(git rev-parse HEAD)"
                echo "Reverting to commit $revertcommit as newer commits contains licenses"
                echo "link=https://github.com/${{ github.repository }}/commits/${{ github.ref }}" >> $GITHUB_OUTPUT
                echo "short_msg=push denied, reset to '$revertcommit'!" >> $GITHUB_OUTPUT
                echo "action_type=reverted to" >> $GITHUB_OUTPUT
                echo "msg_code=$revertcommit" >> $GITHUB_OUTPUT
            else
                git push origin --delete ${{ github.ref }}
                echo "Removing branch ${{ github.ref }} as it contains licenses"
                echo "link=https://github.com/${{ github.repository }}/branches" >> $GITHUB_OUTPUT
                echo "short_msg='${{ github.ref }}' was removed!" >> $GITHUB_OUTPUT
                echo "action_type=removed" >> $GITHUB_OUTPUT
                echo "msg_code=${{ github.ref }}" >> $GITHUB_OUTPUT
            fi

      - name: Find correspondences
        id: email
        if: ${{ steps.filter_results.outputs.filtered_results != '' }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          method: users.lookupByEmail # https://api.slack.com/methods/users.lookupByEmail
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            email: ${{ github.event.pusher.email }}

      - name: Search email detail
        if: ${{ steps.email.outputs.ok }}
        run: |
          SLACK_USER_ID=$(echo '${{ steps.email.outputs.response }}' | jq -r '.user.id')
          echo "SLACK_USER_ID=$SLACK_USER_ID" >> $GITHUB_ENV

      - name: Send a direct message
        if: ${{ steps.email.outputs.ok }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          errors: true
          method: chat.postMessage # https://api.slack.com/methods/chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            "channel": "${{ env.SLACK_USER_ID }}",
            "text": "${{ steps.remove-license.outputs.short_msg }}",
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ":alert: *LICENSES DETECTED* :alert:"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "${{ steps.remove-license.outputs.action_type}} ${{ steps.push-type.outputs.push_type}} `${{ steps.remove-license.outputs.msg_code }}`"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ${{ steps.remove-license.outputs.info}}
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "<${{ steps.remove-license.outputs.link }}>"
                }
              }
            ]

      - name: Fallback Slack notification
        id: fallback_slack
        if: failure()
        uses: slackapi/slack-github-action@v2.1.1
        with:
          errors: true
          method: chat.postMessage # https://api.slack.com/methods/chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            "channel": "ci",
            "text": "${{ steps.remove-license.outputs.short_msg }}",
            "blocks": [
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ":alert: *LICENSES DETECTED* :alert:"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "${{ steps.remove-license.outputs.action_type}} ${{ steps.push-type.outputs.push_type}} `${{ steps.remove-license.outputs.msg_code }}`"
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ${{ steps.remove-license.outputs.info}}
                }
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "<${{ steps.remove-license.outputs.link }}>"
                }
              }
            ]
